:root{
  --fonte-padrao: 'Montserrat', 'sans-serif';
  --cor-preto: #000;
  --cor-branco: #FFF;
  --cor-cinza: #E2E2E2;
}

body {
  margin: 0;
  font-family: var(--fonte-padrao);
  background-color: var(--cor-branco);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
